.weather-result {
  border: 2px black solid;
  padding: 0.5rem;
}

.form-box {
  margin-bottom: 2rem;
}

.container {
  margin: auto;
  width: 40%;
  border: 3px solid black;
  padding: 10px;
}

.contain {
  margin: auto;
  width: 50%;
}

.place {
  width: 80px;
}
